.color {
	&__container {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;

		input {
			width: 10%;
		}
	}
	&__example {
		height: 3.5rem;
		width: 75%;
		margin: 0 auto;
		border-radius: 1rem 1rem 0 0;
	}
}
