.todo {
	&__loading {
		display: flex;
		align-items: center;
		justify-content: center;

		& > * {
			transform: translateY(5rem);
		}
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 32%);
		grid-auto-rows: minmax(15rem, 1fr);
		row-gap: 3rem;
		column-gap: 2%;
	}
}
