@import "../../../styles/mixins";

.todo {
	&__loading {
		@include absolute_center();
		background-color: var(--background-primary);
		padding: 3.75rem;
		border-radius: 0.5rem;
		box-shadow: 0rem 0.4rem 0.4rem var(--shadow-block);
	}

	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fit, 32%);
		grid-auto-rows: minmax(15rem, 1fr);
		row-gap: 3rem;
		column-gap: 2%;
	}
}
