.login {
	width: 100%;
	height: calc(80vh - 5.2rem);
	display: flex;
	align-items: center;

	&__container {
		border-radius: 0.5rem;
		padding: 8rem 15rem 10rem 15rem;

		max-width: 100rem;
		width: 35vw;
		margin: 0 auto;

		position: relative;

		& .secondary_buttons {
			display: flex;
			justify-content: space-between;
		}

		& .secondary__btn {
			background: none;
			border: none;
			outline: none;
			font-size: 1.5rem;
			font-weight: 500;
			cursor: pointer;

			margin-top: 0.75rem;
			color: var(--text-secondary);

			&:hover {
				text-decoration: underline;
			}
		}

		.copyright {
			position: absolute;
			bottom: 5rem;
			font-size: 1.5rem;
			color: var(--text-secondary);
			left: 50%;
			transform: translateX(-50%);
		}
	}
}
