@import "../../../styles/components/modal_button";
@import "../../../styles/components/modal";

.confirm__button {
	@include modal_primary_button();
}

.cancel__button {
	@include modal_secondary_button();
}

.edit__card {
	@include modal_defaults();

	.form__group {
		margin-bottom: 2.5rem;
	}
}

.todo__delete {
	background: var(--color-dangerous);
	border-radius: 0.5rem;
	padding: 0.75rem 2.35rem;

	border: none;
	color: var(--text-primary);
	font-size: 1.5rem;
	font-weight: 500;

	cursor: pointer;
}
