.todo__card {
	background-color: var(--background-primary);
	box-shadow: 0rem 0.4rem 0.4rem var(--shadow-block);
	opacity: 0.65;
	border-radius: 1rem;
	overflow: hidden;

    border: none;

	display: flex;
	justify-content: center;
	align-items: center;

	box-shadow: 0rem 0.4rem 0.4rem var(--shadow-block);

	transition: all 0.35s;
    cursor: pointer;

	& svg {
		fill: var(--background-card);
        height: 5rem;
        width: 5rem;
	}

	&:hover {
		transform: scale(1.025);
		background: var(--color-secondary-600);
		transition: all 0.35s;
	}
}
