:root {
	--background-darker: #242c37;
	--background-primary: #151a21;
	--background-light: rgba(196, 196, 196, 0.1);
	--button-primary: #323d4d;
	--button-accent: #fd6868;
	--text-accent: #fd6868;
	--button-darker: #8e9bc8;
	--text-blue: #cfcfcf;
	--text-shy: #5d7290;
	--text-primary: #ffffff;
	--text-primary-shy: rgba(255, 255, 255, 0.61);

	--shadow-block: rgba(0, 0, 0, 0.25);
}
