:root {
	--color-secondary-100: #dee3ea;
    --color-secondary-200: #b2bdcd;
    --color-secondary-300: #5d7290;
    --color-secondary-600: #323d4d;
    --color-secondary-700: #242c37;
    --color-secondary-800: #151a21;
    --color-secondary-900: #0b0e11;
	
	--color-pop: #FD6868;
	--color-pop-hover: #fa5e5e;

	--background-primary: #18191a;
	--background-card: #242526;

	--button-primary: var(--color-pop);
	--button-primary-hover: var(--color-pop-hover);
	--button-primary-disabled: var(--color-primary-600);

	--button-accent: var(--color-accent);
	--button-darker: var(--color-primary-300);

	--outline: #3a3b3c;

	--text-primary: #e4e6eb;
	--text-secondary: #b0b3b8;

	--shadow-block: rgba(0, 0, 0, 0.25);
}
